{% from 'macros.html' import pagination %} {% extends "admin/layout.html" %}
{% block title %}<title>{{ config['SITE_NAME'] }} - 用户管理</title>{% endblock %}
{% block admin_body %}
<div class="border rounded p-4 bg-white">
  <h4 class="mb-3">用户管理</h4>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>用户ID</th>
          <th>用户名</th>
          <th>手机号</th>
          <th>钱包</th>
          <th>店铺</th>
          <th>注册时间</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>#{{ user['id'] }}</td>
          <td>{{ user['username'] }}</td>
          <td>{{ user['mobile'] or '-' }}</td>
          <td>¥{{ user['wallet_money'] }}</td>
          <td>
            {% if user['shop'] %}
            <a href="{{ url_for('shop.detail', id=user['shop']['id']) }}">
              店铺 #{{ user['shop']['id'] }} {{ user['shop']['name'] }}
            </a>
            {% else %}
            <span class="text-muted">无店铺</span>
            {% endif %}
          </td>
          <td>{{ user['created_at'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {{ pagination((total / config['PAGINATION_PER_PAGE'])|round(0, 'ceil')|int, page, 'admin.users') }}
</div>
{% endblock %}
