<!-- templates/product/macros.html -->

{% from 'macros.html' import file_url %} {% macro product(item, extra_class='') -%}
<div class="product-card {{ extra_class }}">
  <a class="product-card__link" href="{{ url_for('product.detail', id=item['id']) }}">
    <div class="product-card__image-wrap">
      <img class="product-card__image" src="{{ file_url(item['cover']) }}" alt="{{ item['title'] }}" />
    </div>
    <p class="product-card__title">{{ item['title'] }}</p>
  </a>
  <div class="product-card__shop-row">
    <a class="product-card__shop-label" href="{{ url_for('shop.detail', id=item['shop']['id']) }}">
      店铺：{{ item['shop']['name'] }}
    </a>
  </div>
  <div class="product-card__meta">
    <span class="product-card__price">¥{{ item['price']|money }}</span>
  </div>
</div>
{%- endmacro %}
