{% from 'macros.html' import form as form_macro %} {% extends "user/_account_layout.html" %}
{% block title %}
<title>{{ config['SITE_NAME'] }} - 新增地址</title>
{% endblock %}
{% set page_title = '新增地址' %}
{% set page_text = '常用地址先加上。' %}
{% block account_body %}
<div class="section-head">
  <div>
    <div class="section-head__title">新增收货地址</div>
    <p class="section-head__text">照着填完就行。</p>
  </div>
</div>
<div class="mx-auto" style="max-width: 680px;">
  {{ form_macro(form) }}
</div>
{% endblock %}
