{% from 'macros.html' import form as form_macro %} {% extends "user/_account_layout.html" %}
{% block title %}
<title>{{ config['SITE_NAME'] }} - 个人资料</title>
{% endblock %}
{% set page_title = '个人资料' %}
{% set page_text = '把常用信息整理一下。' %}
{% block account_body %}
<div class="section-head">
  <div>
    <div class="section-head__title">编辑资料</div>
    <p class="section-head__text">改完会马上生效。</p>
  </div>
</div>
<div class="mx-auto" style="max-width: 680px;">
  {{ form_macro(form) }}
</div>
{% endblock %}
