{% from 'macros.html' import form as form_macro %} {% extends "base.html" %} {%
block title %}
<title>{{ config['SITE_NAME'] }} - 注册</title>
{% endblock %} {% block body %}
<div class="auth-shell">
  <div class="auth-panel">
    <div class="hero-panel__eyebrow">创建账号</div>
    <div class="auth-panel__title">注册一个账号，先去逛逛喜欢的东西。</div>
    <p class="auth-panel__text">先买点喜欢的，想开店了再开也不晚。</p>
    <div class="auth-points">
      <div class="auth-point">先去看看有没有喜欢的</div>
      <div class="auth-point">想开店了，随时都能开始</div>
      <div class="auth-point">买东西、逛店铺，一个账号就够</div>
    </div>
  </div>
  <div class="auth-card">
    <div class="auth-card__body">
      <div class="auth-card__title">创建新账号</div>
      {{ form_macro(form) }}
    </div>
  </div>
</div>
{% endblock %}
