{% from 'macros.html' import form as form_macro %}
{% extends "user/_account_layout.html" %}

{% block title %}
<title>{{ config['SITE_NAME'] }} - 钱包</title>
{% endblock %}

{% set page_title = '钱包' %}
{% set page_text = '余额就在眼前。' %}

{% block account_body %}
<div class="section-head">
  <div>
    <div class="section-head__title">我的钱包</div>
  </div>
  <a class="btn btn-outline-primary" href="{{ url_for('.wallet_transactions') }}">交易记录</a>
</div>

<div class="stats-grid mb-4">
  <div class="stats-card">
    <div class="stats-card__label">当前余额</div>
    <div class="stats-card__value">¥{{ current_user.wallet_money|money }}</div>
  </div>
</div>

<div class="mx-auto" style="max-width: 680px;">
  {{ form_macro(form) }}
</div>
{% endblock %}
